{% extends 'base.html' %}
<!-- bringing in base.html template -->

{% load static %}
<!-- load static allows you to pull in content from the static folder (like images) -->

{% block title %} | Welcome {% endblock %}

<!-- input code after block content to get it to show in browser-->
{% block content %}


<!-- ALERTS  -->
{% include 'partials/_alerts.html' %}

<!-- Showcase -->
<!-- <section id="showcase">
   <div class="container text-center">
     <div class="intro-index">

       <div class="showcase-image" id="bg" style="background-image: url('{% static 'img/redvault.png' %}')">
         <!-- <img class="img-responsive" width="100%" height="100%" style="background-image: url('{% static 'img/showcase_red_vault.png' %}')" alt="red vault background"> -->
<!-- <h1 class="text-white">
           Welcome to the Vault
         </h1>
         <p class="align-center text-white">Keep all of your login information safe and organized in one place. Whether you choose to store your personally created passwords or generate a random new password, your information will stay safe in your own personal vault.</p> -->


<!-- </div>
         <h1 class="text-white">
           Welcome to the Vault
         </h1>
         <p class="intro text-white">Keep all of your login information safe and organized in one place. Whether you choose to store your personally created passwords or generate a random new password, your information will stay safe in your own personal vault.</p>

       </div> -->
<br>
<section id="intro-jumbotron">
  <div class="container">
    <div class="jumbotron" style="background-image: url('{% static 'img/redvault.png' %}')" ; background-size: 100% 100%">
      <h1 class="text-white">
        Welcome to the Vault
      </h1>
      <p class="intro text-white"><i>Keep all of your login information safe and organized in one place. </i></p>
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="mr-4"></i>
        <hr>
        <h3>Organize</h3>
        <p>View all of your usernames and passwords in one place. </p>
      </div>
      <div class="col-md-4">
        <i class="mr-4"></i>
        <hr>
        <h3>Create & Delete</h3>
        <p>Register to create or delete passwords easily in the privacy of your personal password vault.</p>
      </div>
      <div class="col-md-4">
        <i class="mr-4"></i>
        <hr>
        <h3>Coming Soon</h3>
        <p>Generate a random, secure password that will automatically be added to your password list.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- close off content with endblock  -->
