{% extends 'base.html' %}

{% block content %}

<h4>Create New Password</h4>

<form id="create_form" action="{% url 'create' %}" method="POST">
  {% csrf_token %}
  {% if user.is_authenticated %}
    <input type="hidden" name="user_id" value="{{ user.id }}">
  {% else %}
    <input type="hidden" name="user_id" value="0">
  {% endif %}

  {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ Password.field}} : {{ field }}
  {% endfor %}
  <input type="submit" name="Submit">
</form>


{% endblock %}


<!-- <form id="create_form" action="{% url 'create' %}" method="POST">
  {% csrf_token %}
  {% if user.is_authenticated %}
    <input type="hidden" name="user_id" value="{{ user.id }}">
  {% else %}
    <input type="hidden" name="user_id" value="0">
  {% endif %}
  {{ form }}
  <input type="submit" name="Submit">
</form> -->
