{% extends 'base.html' %}
{% load static %}
{% block title %} | Delete {% endblock %}
{% block content %}

<br>
<br>
<br>
<br>

<div class="confirm-prompt text-center">
  <h3>Are you sure you want to delete "{{ password }}" ?</h3>
<br>
  <form class="" action="{% url 'delete' password.id %}" method="POST">
    {% csrf_token %}

    <button
    type="button"
    class="btn btn-warning"
    style="width:20%"
    name="cancel">
    <a href="{% url 'passwords' %}">Cancel</a></button>

    <input
    class="btn btn-danger"
    style="width:20%"
    type="submit"
    name="Confirm">
  </form>
</div>


{% endblock %}
