{% extends 'base.html' %}

<h1>Show Password</h1>
{% block content %}

<!-- HEADER -->
  <section id="indi-pword-title" class="header-text text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1> First Password </h1>
        </div>
      </div>
    </div>
  </section>

<!-- BREADCRUMB -->
  <section id="bc">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'passwords' %}">My Vault</a>
          </li>
          <li class="breadcrumb-item active">{{ password.website }}
          </li>
        </ol>
      </nav>
    </div>
  </section>

<!-- PASSWORD -->
  <section id="show-pword">
    <div class="container">
      <button type="button" name="button"><a href="{% url 'passwords' %}">Back to My Vault</a></button>
      <div class="row text-center">
        <div class="col-md-12">
          <h3> {{ password.website }} </h3>
          <button type="submit" name="edit"><a href="#">Edit</a></button>
          <button type="submit" name="delete"><a href="#">X</a></button>
        </div>
        <div class="col-md-12 pword-block">
          <h3> {{ password.username }} </h3>
          <button type="submit" name="edit"><a href="#">Edit</a></button>
          <button type="submit" name="delete"><a href="#">X</a></button>
        </div>
        <div class="col-md-12">
          <h3> {{ password.password }} </h3>
          <button type="submit" name="edit"><a href="#">Edit</a></button>
          <button type="submit" name="delete"><a href="#">X</a></button>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
