{% extends 'base.html' %}

{% block content %}

<!-- BREADCRUMB -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> My Passwords</li>
        </ol>
      </nav>
    </div>
  </section>

<!-- PASSWORDS LIST -->
  <section id="passwords" class="">
    <div class="container">
      <div class="password-list">

<!-- TABLE with Passwords -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> Id </th>
              <th scope="col"> Website </th>
              <th scope="col"> Username </th>
              <th scope="col"> Password </th>
            </tr>
          </thead>
          <tbody>
<!--  CONDITIONAL TO LOOP THROUGH PASSWORDS DB -->
            {% if passwords %}
              {% for password in passwords %}
              <tr>
                <th scope="row"> {{ password.id }} </th>
                <td> {{ password.website }} </td>
                <td> {{ password.username }} </td>
                <td> <a href="{% url 'password' password.id %}" class="btn pword-btn"> {{ password.password }}</a> </td>
              </tr>
              {% endfor %}
            {% else %}
              <div class="col-md-12">
                <p>No passwords</p>
              </div>
            {% endif %}
          <tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
