{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Edit</h1>

<section id="edit" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-warning text-black">
              <h4>
                <i class="fas fa-user-plus"></i> Edit </h4>
            </div>
            <div class="card-body"> -->
<!-- ALERTS -->
{% include 'partials/_alerts.html' %}
                <form action="{% url 'password_edit' password_id %}" method="POST">
                  <div class="form-group">
                  <label for="website">Website</label>
                  <input type="text" name="website" class="form-control">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" name="password" class="form-control" required>
                </div>
                <input type="submit" value="Update" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-10 col-sm-10 ">
      <br />
      <h6 style="text-align:center;">
        <font color="red"> All fields are required</font>
      </h6>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-10 col-sm-10">
      <form method="post" action="{% url 'password_edit' password_id %}">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
      <br>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
</div> -->
<!-- <form action="{% url 'password_show' password_id %}" method="POST">
  {% csrf_token %}

  {{ form }}

  <input type="submit" name="Update">
</form> -->





<!-- <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>


<!-- <section id="edit" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-warning text-black">
              <h4>
                <i class="fas fa-user-plus"></i> Edit </h4>
            </div>
            <div class="card-body"> -->
<!-- ALERTS -->
<!-- {% include 'partials/_alerts.html' %}
                <form action="{% url 'password_edit' password_id %}" method="POST">
                  <div class="form-group">
                  <label for="website">Website</label>
                  <input type="text" name="website" class="form-control">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" name="password" class="form-control" required>
                </div>
                <input type="submit" value="Edit" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
