<!-- FOOTER -->
  <footer id="main-footer" class="py-4 bg-dark text-center">
    <div class="container">
      <div class="credits text-danger">
        <p>Created by Ashley Brickhouse </p>
      </div>
      <div class="container">
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/ashley-brickhouse-995236115/"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
          <a href="https://github.com/ashbrick"><i class="fab fa-github-square fa-fw fa-2x"></i></a>
          <a href="https://ashleybrickhouse.com/"><i class="fab fa-wordpress-simple fa-fw fa-2x"></i></a>
        </div>
      </div>

    </div>

  </footer>
