{% extends 'base.html' %}
{% block title %} | Dashboard {% endblock %}
{% block content %}

<!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}" class="text-light">
            Home</a>
          </li>
          <li class="breadcrumb-item active text-warning" aria-current="page"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

<!-- ALERTS -->
{% include 'partials/_alerts.html' %}



<!-- Password Option Cards -->
  <section id="dash-options" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome,  <span class="text-secondary">{{ user }}</span></h2>
          <p>
            <i>You can manage your passwords from here in the dashboard or go to <strong> Enter Vault </strong> and view all passwords.</i>
          </p>
          <br>
        </div>
<!-- Option Card: Create -->
        <div class="col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body bg-light">
              <h5 class="card-title">Create A New Password</h5>
              <p class="card-text">Keep track of your usernames and passwords for specific websites.</p>
              <a href="{% url 'passwords' %}" style="width:100%" class="btn btn-success">Create</a>
            </div>
          </div>
        </div>

<!-- Option Card: Edit -->
        <!-- <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Password</h5>
              <p class="card-text">Change and update existing password information.</p>
              <a href="#" class="btn btn-warning">Edit</a>
            </div>
          </div>
        </div> -->

<!-- Option Card: Delete -->
        <div class="col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body border-dark bg-light">
              <h5 class="card-title">Delete Password</h5>
              <p class="card-text">Clear all password information, including the username and website.</p>
              <a href="{% url 'passwords' %}" style="width:100%" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>




{% endblock %}
